.cart {
    margin-right: 10px;
}
.cart-item-count {
    color: red;
    position: fixed;
    right: 11px;
    background: white;
    border-radius: 10px;
    top: 0px;
    height: 18px;
    width: 13px;
    text-align: center;
}